body {
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 28cm;
    font-size: small;
    background-color: rgb(155, 180, 161);
}

.menu {
    list-style: none inside;
    margin: 0px;
    padding: 0px;
}

.menu li a {
    display: block;
    padding: 3px 0px;
    font-size: medium;
}

[hidden] { display: none !important;}